/*card de reportes*/
.card-counter{
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #3bd0e4;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  


  .card-counter.light{
    background-color: #C0E8FF;
    color: #000000;
    border-color: #000000;
    border: 3px;
  }  

  .card-counter.white{
    background-color: #ffd2d2;
    color: #000000;
    border-color: #000000;
    border: 3px;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 20px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.7;
    display: block;
  }




/* para el nuevo menu de productos*/
.newmenu {
    background: #ebebeb;
    height: 150px; /* 170 para mas alto*/
    max-width: 120px;
    border: 2px solid #979797;
    transition-duration: 0.4s;
    border-radius: 5px;
    animation: winanim 0.5s ;
    box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)
}

.newmenu:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.newmenu img {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100px;
  width: 100px;
}

.newmenu a {
  text-decoration: none;
}

.newmenu a:active {
position: relative;
opacity: 0.5;
top: 10px;
}


.menu-title {
    padding: 5px; /* 15 (alto normal) tamano de alto del titulo */
    text-align: center;
    font-size: 90%;
    background: #c3c6ca;
    color: #000000;
    border-radius: 0.2rem !important;
}

.menu-title2 { /*para productos y no para categorias*/
    padding: 5px;
    text-align: center;
    font-size: 90%;
    background: #002061;
    color: #FFFFFF;
    border-radius: 0.2rem !important;
}

.menu-titleC {
    padding: 5px;
    text-align: center;
    font-size: 90%;
    background: #5A0101;
    color: #FFFFFF;
    border-radius: 0.2rem !important;
}

.menu-titleO {
    padding: 5px;
    text-align: center;
    font-size: 90%;
    background: #013E5A;
    color: #FFFFFF;
    border-radius: 0.2rem !important;
}






/*tabla de lateral venta donde van las opciones*/
.topcion td { /* productos en la tabla */
  padding: .1rem!important;
  height: 5px!important;
  background-color: #004268;
  color: #ffffff;
}

.trfcliente td { /* productos en la tabla factura cliente */
  padding: .1rem!important;
  height: 5px!important;
  background-color: #4e0000;
  color: #ffffff;
}

.tventas td { /* Opciones en la tabla*/
  padding: .1rem!important;
  height: 30px!important;
}





/*/// bordeados*/
.bordeado-x4{
  border-radius: 4rem !important;
}

.bordeado-x3{
  border-radius: 3rem !important;
}

.bordeado-x2{
  border-radius: 2rem !important;
}

.bordeado-x1{
  border-radius: 1rem !important;
}




/* rondeado de una tabla */
.table-round {
  border-collapse:separate;
  border-spacing: 1;
  border:solid rgb(165, 165, 165) 1px;
  border-radius:1px;
  -moz-border-radius:1px;
  -webkit-border-radius: 5px;  
  -webkit-box-shadow: 0 3px 3px #ccc;
  -moz-box-shadow: 0 3px 3px #ccc;
  box-shadow: 0 3px 3px #ccc; 
}


.click a:active { /* Movimiento al dar clic a un enlace o boton*/
  position: relative;
  opacity: 0.5;
  top: 5px;
}


.pointer { /* Poner corsor como vinculo */
  cursor: pointer;
}


/* Para imagenes previsualizadas al cargar  */
.image-visualizer{
  position: relative;
  padding-bottom: 56.25%
}

.image-visualizer img {
  position: absolute;
  object-fit: cover;
  width: 100px;
  height: 72px;
}


.imgSize { /* Tamano de un icono pequeno*/
  object-fit: cover;
  width: 100px;
  height: 100px;

}






/* para el nuevo menu de productos*/
.newmenux {
  background: #ebebeb;
  height: 170px;
  max-width: 250px;
  border: 2px solid #979797;
  transition-duration: 0.4s;
  border-radius: 5px;
  animation: winanim 0.5s ;
  box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)
}

.newmenux:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.newmenux img {
margin-top: 10px;
margin-bottom: 5px;
margin-left: 5px;
margin-right: 5px;
height: 100px;
width: 236px;
}

.newmenux a {
text-decoration: none;
}

.newmenux a:active {
position: relative;
opacity: 0.5;
top: 10px;
}
